<script setup lang="ts">
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";
const productStore = useProductStore();
onMounted(async () => {
  await productStore.getProducts();
});
</script>
<template>
  <ProductDialog></ProductDialog>
  <v-btn color="success" @click="productStore.dialog = true">Add new</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn
            color="blue"
            class="mr-5"
            @click="productStore.editProduct(item)"
            >edit</v-btn
          >
          <v-btn color="error" @click="productStore.deleteProduct(item.id)"
            >delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
