<script setup lang="ts">
import { useMessageStore } from "@/stores/message";
const messageStore = useMessageStore();
</script>

<template>
  <v-snackbar v-model="messageStore.isShow" multi-line>
    {{ messageStore.message }}
    <template v-slot:actions>
      <v-btn
        flat
        color="red"
        variant="text"
        @click="messageStore.isShow = false"
        >Close</v-btn
      >
    </template>
  </v-snackbar>
</template>
